:root {
  --header: #00fa9a;
  --bc-color: #116d60;
}

body {
  text-align: center;
}
.profil-image {
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #116d60;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.font,
.side {
  font-family: "Dancing + Script", sans-serif;
}

h1,
h2 {
  color: var(--header);
  text-align: center;
}

hr {
  border: none;
  height: 2px;
  width: 150px;
  background-color: var(--bc-color);
}
table {
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: var(--bc-color);
}
td {
  background-color: rgb(127, 255, 212);
}

.side {
  text-align: center;
}
ul {
  list-style-type: none;
}

.name,
.language {
  font-weight: bold;
}
